<div
  class="container-fluid d-flex flex-column justify-content-center align-items-center"
  style="height: 80dvh"
>
  <%if(errorMessage){%>
  <div class="text-danger fs-2"><%= errorMessage %></div>

  <%}%>
  <div class="fw-bold text-danger d-block" style="font-size: 100px">Oops</div>
  <div class="fw-italic text-secondary d-block">Gone Fishing !!</div>
  <div>
    <a class="text-secondary" href="/"
      >Back to <i class="fa-solid fa-house"></i> Home</a
    >
  </div>
</div>
