<div class="container d-flex justify-content-center align-items-center p-5">
  <div>
    <h1>You are Logged out !</h1>
    <img
      src="https://img.freepik.com/free-vector/sticker-wooden-log-with-grass-flower_1308-59271.jpghttps://img.freepik.com/free-vector/sticker-wooden-log-with-grass-flower_1308-59271.jpg"
      alt="Log in Out"
    />
    <div>
      <a class="text-secondary" href="/"
        >Back to <i class="fa-solid fa-house"></i> Home</a
      >
    </div>
  </div>
</div>
