<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="loginModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Welcome to Jobshala</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="/login" method="post">
          <div class="mb-3">
            <label for="userEmailField" class="form-label">Username</label>
            <input
              type="email"
              class="form-control"
              id="userEmailField"
              name="email"
              required
              pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z]{2,}$"
              title="Please enter a valid email address."
            />

            <div class="form-text">
              Recruiter Demo account : demoRec@account.com
            </div>
            <div class="form-text">
              Job Seeker Demo account : demoSeek@account.com
            </div>
          </div>
          <div class="mb-2">
            <label for="userPasswordField" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="userPasswordField"
              name="password"
              required
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*]).{8,}"
              title="Password must be at least 8 characters and contain at least one uppercase letter, lowercase letter, number, and symbol."
            />
          </div>

          <div class="mb-2 form-text">Demo account : Password@123</div>

          <button type="submit" class="btn btn-dark">Login</button>
        </form>
      </div>
      <div class="modal-footer">
        <span> Not registered ?</span>
        <button
          type="button"
          class="btn btn-warning"
          data-bs-toggle="modal"
          data-bs-target="#registerModal"
          data-bs-dismiss="modal"
        >
          Register
        </button>
      </div>
    </div>
  </div>
</div>
